<!--<pre>
  loginForm.valid - {{loginForm.valid}}  
  ===============================================
  username.valid - {{usernameControl.valid}}
  username.isValid - {{isValid(usernameControl)}}
  username.error - {{getErrorMessage(usernameControl)}}
  ===============================================
  password.valid - {{passwordControl.valid}}
  password.isValid - {{isValid(passwordControl)}}
  password.error - {{getErrorMessage(passwordControl)}}
  ===============================================
  sapak.valid - {{sapakControl.valid}}  
  sapak.isValid - {{isValid(sapakControl)}}
  sapak.error - {{getErrorMessage(sapakControl)}}
  </pre>-->
<div class="ui-g-12">


  <div class="ui-g-4"></div>
  <div class="ui-g-3">

    <p-panel id="panel" header="כניסה למערכת">
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)" >
        <div class="ui-g">
          <div class="ui-g-12">
            <input class="ui-g-12 ui" type="text" formControlName="username" placeholder="שם משתמש" pInputText #username>
          </div>
            <app-popover *ngIf="!isValid(usernameControl)" [message]="getErrorMessage(usernameControl, username.placeholder)"></app-popover>
          <div class="ui-g-12">
            <input class="ui-g-12" type="password" formControlName="password" placeholder="סיסמא" pInputText #password>
          </div>
          <div *ngIf="!isValid(passwordControl)" class="ui-g-12">
            <app-popover [message]="getErrorMessage(passwordControl, password.placeholder)"></app-popover>
          </div>
          <div class="ui-g-12">
            <input class="ui-g-12" type="text" formControlName="sapak" placeholder="קוד ספק" pInputText #sapak>
          </div>
          <div *ngIf="!isValid(sapakControl)" class="ui-g-12">
            <app-popover [message]="getErrorMessage(sapakControl, sapak.placeholder)"></app-popover>
          </div>
          <!--<div class="ui-g-12">
            <div class="ui-g-4 label">
              סיסמא
            </div>
            <div class="ui-g-8">
              <input type="password" formControlName="password" placeholder="סיסמא" pInputText>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-4 label">
              קוד ספק
            </div>
            <div class="ui-g-8">
              <input type="text" formControlName="sapak" placeholder="12345678" pInputText>
            </div>
          </div>-->
        </div>



        <div class="ui-g">
          <button class="ui-g-12" type="button" pButton icon="fa-pencil" iconPos="left" label="נתוני טסט" (click)="loadDefaultData()"></button>          
        </div>

        <div class="ui-g login-button ">
          <button class="ui-g-12" [disabled]="loading" type="submit" pButton [icon]="loading ? 'fa-spinner fa-spin fa-1x fa-fw' : 'fa-sign-in'" iconPos="left" label="כניסה"></button>          
        </div>

        <div class="ui-g-12"  *ngIf="error">
          <app-popover [message]="error"></app-popover>
        </div>

      </form>
    </p-panel>

  </div>
</div>