<!--<div class="ui-g-12">-->
<div class="ui-g-4"></div>
<div class="ui-g-3">
  <p-panel id="panel" header="כניסה למערכת">
    <div class="ui-g">
      <div class="ui-g-12 ">
        <div class="ui-g-6 ">
          מס' ספק
        </div>
        <div class="ui-g-6 ">
          <input type="text" pInputText>
        </div>
      </div>
      <div class="ui-g-12 ">
        <div class="ui-g-6">
          ססמא
        </div>
        <div class="ui-g-6">
          <input type="password" pInputText>
        </div>
      </div>
      <button class="ui-g-12" pButton type="button" label="כניסה"></button>
    </div>
  </p-panel>
</div>
<!--</div>-->
