<div class="ui-g-12">
  <div class="ui-g-4"></div>
  <div class="ui-g-7">
    <p-panel id="panel" header="כניסה למערכת">
      <div class="ui-g">
        <div class="ui-g-12">
          <div class="ui-g-4">
            מס' ספק
          </div>
          <div class="ui-g-8">
            <input type="text" pInputText>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-4">
            ססמא
          </div>
          <div class="ui-g-8">
            <input type="password" pInputText>
          </div>
        </div>
      </div>
      <div class="ui-g">
        <button class="ui-g-12" pButton type="button" label="כניסה" (click)="login()"></button>
      </div>
    </p-panel>
  </div>
</div>
