<div class="ui-g">

  <div class="ui-g-12">
    <app-header></app-header>
  </div>

  <app-main></app-main>

  <!--<div class="ui-g-12" id="data-table">
    <div class="ui-g-2"></div>
    <div class="ui-g-8">
      <app-data-table></app-data-table>
      
    </div>
    <div class="ui-g-2"></div>
  </div>-->



</div>

<!--<div class="ui-g"></div>

<div class="ui-g-12">
  <p-menubar [model]="items"></p-menubar>
</div>
<div class="ui-g-12">
  <p-toolbar>
    <div class="ui-toolbar-group-right">
      <p-menubar [model]="items" style="border : 0px"></p-menubar>
    </div>
    <div class="ui-toolbar-group-left">
      <button pButton type="button" icon="fa-user"></button>
    </div>
  </p-toolbar>
</div>

<div class="ui-g-12"></div>
<div class="ui-g-12"></div>
<div class="ui-g-12"></div>-->


<!--<div class="ui-g">
  <div class="ui-g-1"></div>
  <div class="ui-g-10">
    <button pButton type="button" label="טען חשבונית"></button>
    <button pButton type="button" label="הדפס"></button>
  </div>
  <div class="ui-g-1">
  </div>
</div>-->

<!--<div class="ui-g-12">
  <div class="ui-g-1"></div>
  <div class="ui-g-10">
    <p-dataTable [value]="data" [emptyMessage]="tableEmptyMessage" [responsive]=true>
      <p-column field="date" header="תאריך"></p-column>
      <p-column field="type" header="סוג"></p-column>
      <p-column field="invoice" header="חשבונית"></p-column>
      <p-column field="numLines" header="מספר שורות"></p-column>
      <p-column field="status" header="סטטוס"></p-column>
      <p-column field="linkInvoice" header="מדיה"></p-column>
      <p-column field="linkMedia" header="חשבונית"></p-column>
    </p-dataTable>
  </div>
  <div class="ui-g-1"></div>
</div>-->
<!--<p-schedule [events]="events" [header]="header" locale="he"></p-schedule>-->

<!--<p-toolbar>
  <div class="ui-toolbar-group-right">
    <button pButton type="button" label="עזרה"></button>
  </div>
</p-toolbar>-->
